/*============== Footer CSS ================*/

// scrollTop
.scrollTop {
    right: 2%;
    bottom: -40px;
    width: 40px;
    height: 40px;
    z-index: 9;
    @extend %posfixed;
    @extend %secondary-bg-color;
    @extend %displayblock;
    @extend %white-color;
    @extend %textcenter;
    @extend %basetransition2;
    @extend %invisible;
    font-size: 25px;
    line-height: 37px;
    @extend %borderradius5;
    &.scrollBtn{
        @extend %visible;
        bottom: 40px;
    }
    &:hover{
        @extend %white-color;
        @extend %primary-bg-color;
    }
}