/*=============== Header CSS ==================*/
.header{
    height: 70px;
}
.header-area {
    background: #fff;
    .site-logo {
        height: 70px;
        margin-right: 20px;
    }
    .signing-section {
        a {
            color: #314963;
            font-weight: 600;
            font-size: 13px;
            padding: 26px 0 26px;
            margin-left: 20px;
            transition: .3s;
            &:hover{
                color: #74B95C;
            }
        }
    }
    .header-search-box {
        margin: 14px 0 0 10px;
        button[type=submit] {
            position: absolute;
            left: 1px;
            top: 1px;
            border: 0;
            background: #fff;
            color: #74B95C;
            height: 38px;
            width: 30px;
            text-align: center;
            border-radius: 5px;
        }
        input[type=text] {
            padding: 7px 10px 7px 30px;
            width: 180px;
        }
        .dropdown-menu.show {
            transform: translate3d(0px, 0px, 0px) !important;
        }
        .dropdown-menu {
            width: 180px;
        }
        .angle-icon {
            position: absolute;
            right: 2px;
            top: -39px;
            color: #CED8E1;
            width: 25px;
            height: 38px;
            background: #fff;
            text-align: center;
            line-height: 39px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}

.mainmenu ul > li {
    display: inline-block;
}
.mainmenu ul > li:hover > a{
    color: #74B95C;
} 
.mainmenu ul > li > a {
    color: #314963;
    font-size: 16px;
    font-weight: 600;
    padding: 24px 15px 24px;
    transition: .3s;
}


// Dropdown CSS
.mainmenu ul li ul {
    @extend %posabsolute;
    left: 0;
    top: 120px;
    width: 300px;
    @extend %white-bg-color;
    z-index: 9999;
    @extend %invisible;
    @extend %basetransition3;
}
.mainmenu ul li ul ul {
    left: 100%;
    top: 45px;
    @extend %invisible;;
}
.mainmenu ul li:hover > ul {
    top: 72px;
    @extend %visible;
}
.mainmenu ul li ul li {
    @extend %displayblock;
    border-bottom: 1px solid #f4f4f4;
    @extend %basetransition2;
}
.mainmenu ul li ul li a {
    padding: 12px 15px 12px;
    @extend %displayblock;
    text-transform: capitalize;
}
.mainmenu ul li ul li:hover > a {
    @extend %primary-bg-color;
    @extend %white-color;
}
.mainmenu ul li ul li:hover {
    border-color: $primary-color;
}
.mainmenu ul li ul li:last-child {
    border-bottom: 4px solid $primary-color;
}
.mainmenu ul li ul li:hover ul {
    top: 0;
}


/* =======slicknav_menu======== */
.slicknav_menu {
    @extend %displaynone;
    @include all-below-med(){
        display: block;
        background: #ddd;
        position: fixed;
        left: 0;
        top: -10px;
        right: 0;
        width: 720px;
        z-index: 999999999999;
        margin: 0 auto;
        height: 0;
        span.slicknav_menutxt {
            display: none;
        }
        .slicknav_btn {
            padding: 0;
            margin: 0px 11px 0 0;
            font-size: 30px;
            background: none;
            top: 38px;
            right: 15px;
            @include mobile-lg{
                margin: 0px -5px 0 0;
            }
            @include all-below-mobile-lg{
                // top: 34px;
                // right: 0;
            }
            &:hover{
                background: none;
            }
            // @include mx-mobile(){
            //     right: 0px;
            // };
            // @include mx-mobile-lg(){
            //     right: 63px;
            // };
        }
        .slicknav_icon {
            margin: 0;
            span {
                background-color: #262262;
                border-radius: 0px;
            }
        }
        .slicknav_nav {
            padding: 10px 0;
            background: #fff;
            position: absolute;
            left: 0;
            top: 100px;
            width: 100%;
            box-shadow: 2px 10px 30px -14px #000;
            @include all-below-mobile-lg{
                // top: 90px;
            }
            .slicknav_row {
                padding: 0;
                a{
                    padding: 10px 15px;
                    display: inline-block;
                }
            }
            .slicknav_row{
                border-radius: 0px;
                &:hover {
                    border-radius: 0px;
                }
            }
        }
        a {
            padding: 10px 15px;
            font-size: 16px;
            color: #000;
            border-radius: 0;
            &:hover {
                border-radius: 0;
            }
        }
        
        
    }
    @include all-below-mobile-lg(){
        width: 540px;
    };
    @include all-mx-mobile(){
        width: 100%;
    };
}



// Sticky Header with smooth animation
.header-area{
    @include desktops{
        &.fixed {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            animation:slide-down 0.7s;
            z-index: 9;
            box-shadow: 0 -40px 20px 30px #000;
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                opacity: 1;
            }
        }
    }
    @include all-below-med{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        // background: #031a39;
    }
}
@keyframes slide-down {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        // opacity: 1;
        transform: translateY(0);
    } 
}